.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card {
    width: 22%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid lightgray;
    margin-bottom: 20px;
}

.header {
    font-size: 30px;
    text-align: center;
    margin: 20px;
}

.newprice {
    color: red;
}
.oldprice{
    color: grey;
    text-decoration: line-through;
}