.container{
    display: flex;
    flex-direction: column;
    height: 1000px;
    justify-content: space-around;

}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 900px;
}
.card {
    width: 21%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid lightgray;
}

.text {
    font-size: 30px;
    text-align: center;
}

.newprice {
    color: red;
}
.oldprice{
    color: grey;
    text-decoration: line-through;
}